<html>
<head>
  <title>Group chat</title>
  <script src="/jquery.js"></script>
  <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/index.js"></script>
  <style type="text/css">
    #left, #right{
      display: inline-block;
      vertical-align: top;
    }
    #roomComments{
      margin-left: 10px;
    }
  </style>
</head>
<body>
  <div id="container">
    <h1>Group Chat</h1>
    <div id="mainChat">
      <input type="text">
      <button class="mainChat">Add!</button>
    </div>
    <div id="addChatroom">
      <h1>Add a Chatroom</h1>
      <input type="text" name="chatroom">
      <button class="addChatroom" type="submit">Add</button>
    </div>
    <div id="left">
      <h3>All Users</h3>
      <div id="users"></div>
      <h3>All Chatrooms</h3>
      <div id="chatrooms"></div>
    </div>
    <div id="right">
      <h3>Your Chatrooms</h3>
      <div id="currentChatrooms"></div>
      <h3>Your PrivateChats</h3>
      <div id="privateChat"></div>
    </div>
  </div>
</body>
</html>
